@font-face {
    font-family: "Avenir Next";
    src: url("css/fonts/AvenirNext.ttc");
}

body {
    --header-color:#D9EDD2 ;
    --footer-color:#005F2A;
    font-family: "Avenir Next";
    margin: 0;
}

header {
    background-color: var(--header-color);
    height: 5.5em;
    text-align: center;
    display: grid;
    position: fixed;
    width: 100%;
    top: 0;
}

nav a:link,
#language:link {
    color: black;
    text-decoration: none;
}

nav a:visited,
#language:visited {
    color: black;
    text-decoration: none;
}

nav a:hover,
#language:hover {
    text-decoration: none;
}

nav a:active,
#language:active {
    text-decoration: none;
}

#logo {
    width: 45px;
    grid-area: 1/1;
    margin-top: 10px;
    display: block;
    margin-left: 60%;
    ;
    margin-right: auto;
}

#navigation {
    display: none;
}

#menuMobile {
    display: none;
    position: fixed;
    background-color: rgb(256, 256, 256);
    z-index: 10;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    padding-top: 100px;

}

#menuMobile a{
    font-weight: bold;
    color: black;
    display: block;
    font-size: 1.5em;
    margin-top: 1em;
}

#cross{
    color:black;
    font-weight: bold;
    padding: 0.1em;
    font-size: 2.1em;
    position: absolute;
    top:0;
    right: 10%;
    cursor: pointer;
}

#menuMobile div{
    border-top: solid black 1px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5em;
    padding-top: 2em;
    font-size: 0.9em;
}

#language {
    grid-area: 1/2;
    font-weight: bold;
    margin-top: 45px;
    margin-left: 60%;
}

#burgermenu {
    width: 50px;
    grid-area: 1/3;
    margin-top: 20px;
    margin-left: 60%;
}

main {
    margin-top: 8em;
    margin-bottom: 4em;
}

#banner {
    display: none;
}

article {
    margin-bottom: 5em;
}

article h1 {
    text-align: center;
    font-size: 1.3em;
}

.foodpic {
    height: 200px;
    width: 100%;
    background-color: rgb(0, 0, 0, 0.1);
}

.eventDes {
    font-size: 0.85em;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
}

.btnEx{
    border: none;
    width: 80%;
    height: 40px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    color: white;
    background-color: var(--footer-color);
    border-radius: 10px;
}


footer {
    background-color: var(--footer-color);
    height: 50px;
    text-align: center;
}


#tel,
#address {
    display: none;
}

#soMe img {
    width: 30px;
    margin-right: 20px;
    margin-top: 10px;
}

#evoopic{
    height: 250px;
    width: 100%;
}

#evoo{
    margin-left: 20px;
    margin-right: 1.5em;
}


.hide{
    display: none;
}

/*MEDIUM SCREEN VIEW*/
@media all and (min-width:520px) {

    header {
        width: 100%;
        height: 5em;
        display: grid;
    }

    #burgermenu {
        display: none;
    }

    #language {
        display: none;
    }

     #logo {
        grid-area: 1/1;
        width: 200px;
        margin-left: 12%;
        margin-right: inherit;
    }

    #navigation {
        display: grid;
        grid-area: 1/2;
        text-align: left;
    }

     #navigation a {
        font-weight: bold;
        margin-top: 50px;
    }

    #nav1 {
        grid-area: 1/1;
    }

    #nav2 {
        grid-area: 1/2;
    }

    #nav3 {
        grid-area: 1/3;
    }

    #nav4 {
        grid-area: 1/4;
    }

    #nav5 {
        grid-area: 1/5;
    }

main {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    .imgExample {
        width: 90%;
        height: 300px;
        margin-left: auto;
        margin-right: auto;
    }


    .textExample{
        width: 90%;
    }

    footer {
        display: grid;
        color: white;
        font-size: 0.7em;
        height: 70px;
        text-align: left;
    }

    #soMe{
        grid-area: 1/1;
        margin-left: auto;
        margin-right: auto;
    }

    #soMe img{
        margin-right: 10px;
    }

     #tel{
        display: block;
        margin-left: auto;
        margin-right: auto;
        grid-area: 1/2;
    }

    #address {
        display: block;
        margin-left: auto;
        margin-right: auto;
        grid-area: 1/3;
    }


    #evoopic{
    height: 400px;
    width: 100%;
}

}




/*END MEDIUM SCREEN VIEW*/

/*BIG SCREEN VIEW*/
@media all and (min-width:995px) {

    header {
        width: 120px;
        height: 100%;
        display: block;
    }

    #logo{
        width: 50px;
        margin-left: auto;
        margin-right: auto;
    }

    #navigation {
        display: block;
        margin-top: 10px;
        margin-bottom: 2em;
        text-align: center;
    }

    #navigation a {
        display: block;
        margin-top: 1em;
        font-weight: bold;
    }

    footer {
        height: 100px;
        padding-left: 200px;
        display: grid;
        font-size: 0.8em;
    }

    #soMe {
        margin-top: 35px;
        grid-area: 1/1;
        margin-left: inherit;
    }

    #tel {
        margin-top: 20px;
        grid-area: 1/2;
    }

    #address {
        margin-top: 20px;
        grid-area: 1/3;
    }
    #soMe img {
        width: 35px;
        margin-right: 20px;
    }

    main {
        width: calc(100% - 120px);
        margin-left: 120px;
        margin-top: inherit;
    }

    #banner {
        display: block;
        height: 400px;
        width: 100%;
        margin-bottom: 3em;
        background-color: rgb(0, 0, 0, 0.4);
    }


    .wrap {
        display: grid;
    }

    article{
        margin-bottom: 1em;
    }

    .imgExample {
        height: 200px;
        width: 400px;
        margin-left: auto;
        margin-right: auto;
    }

    .textExample {
        width: 400px;
    }

      #article1 {
        grid-area: 1/1;
    }

    #article2 {
        grid-area: 1/2;
    }

    #evoopic{
    display: block;
    height: 300px;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
}

    .foodpic {
        height: 250px;
        width: 400px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .eventDes {
        width: 400px;
    }
}

}
















